
.article-create-name,
.article-create-title-blank-fill,
.article-create-back-button {
    float: left;
}

.article-create-title-blank-fill {
    height: 40px;
    width: 85%;
}

.article-create-back-button {
    width: 40px;
    height: 30px;
    background-color: #0d1117;
    color: white;
    border-radius: 5px;

}

.article-create-title-border-line {
    width: 100%;
}

/* ------------------ input-start ------------------- */

.article-create-input-container {
    padding-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-validate-notice {
    margin-left: 13%;
    margin-bottom: 5px;
    font-size: 13px;
    color: red;
    display: none;
}

.for-each-input-container {
    width: 60%;
    /*height: 60px;*/
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.for-each-input-container-wrong {
    border: 2px red solid;
    border-radius: 10px;
}

.editor-container {
    width: 60%;
    padding-top: 20px;
}

.editor-inner-container {
    width: 70%;
    float: left;
    margin-left: 20px;
}

.content-input {
    margin-right: 20px;
}

.input-name-container {
    width: 10%;
    float: left;
}

.input-name {
    float: right;
    padding-top: 10px;
    color: black;
}

.each-input {
    float: left;
    margin-left: 20px;
    height: 40px;
    width: 70%;
    text-indent: 5px;
    border-radius: 10px;
}

.update-file-button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    background-color: #7ee787;
    color: white;
}

.bottom-check-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-check-button {
    text-indent: 5px;
    margin-left: 5px;
}

.article-create-create-button {
    width: 60px;
    height: 40px;
    background-color: #0a3069;
    color: white;
    border-radius: 5px;
}

/* ------------------ input-end ------------------- */