* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.dashboard-page {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    overflow: auto;
}

& {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    overflow: auto;
}

.page-column-left, .page-column-right {
    height: 100%;
    float: left;
    display: block;
    overflow: auto;
}

/* ---------------- left-start -------------------- */

.page-column-left {
    background-color: #647f9d;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}

.user-img {
    width: 120px;
    height: 120px;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.user-name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-email {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-info-button {
    margin-top: 10px;
    margin-bottom: 15px;
}

.for-user-info-button {
    color: white;
    background-color: #7f8c8d;
    border: none;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
}

.user-info-icon {
    padding-top: 5px;
    width: 15px;
    height: 15px;
}

.module {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #c9d1d9;
}

.module-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.for-each-module, .module-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.for-each-module {
    height: 40px;
    font-size: 14px;
}

.module-title {
    height: 50px;
    font-size: 18px;
}


/* ---------------- left-end -------------------- */


/* ---------------- right-start -------------------- */
.page-column-right {
    width: calc(100% - 250px);
    color: grey;
}

.page-right-header {
    height: 70px;
    width: 100%;
    border-bottom: black 2px dashed;
    background-color: white;
}

.header-icon {
    margin-top: 20px;
    margin-left: 20px;
}

.statistics-info {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-each-statistics {
    width: 200px;
    height: 120px;
    margin-right: 30px;
    border: black 2px dashed;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.each-statistics-title, .each-statistics-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.each-statistics-title {
    height: 50px;
    width: 100%;
}

.each-statistics-data {
    height: 70px;
    width: 100%;
}

.each-title-detail {
    margin-right: 40px;
    font-size: 14px;
}

.each-tag-all {
    margin-left: 40px;
    font-size: 5px;
    background-color: #7ee787;
    padding: 4px;
    border-radius: 5px;
    color: white;
}

.each-icon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.each-data {
    font-size: 25px;
}

/* ---------------- right-end -------------------- */


/* ---------------- right-common-start --------------- */

.main-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.main-border {
    border: 2px black dashed;
    padding: 20px;
    background-color: white;
    width: 90%;
}

.main-title {
    height: 40px;
    width: 100%;
}

.main-name {
    font-size: 20px;
}

/* ---------------- right-common-end --------------- */