

.main-border {
    border: 2px black dashed;
    padding: 20px;
    background-color: white;
    width: 90%;
}

& {
    border: 2px black dashed;
    padding: 20px;
    background-color: white;
    width: 90%;
}


.main-title {
    height: 40px;
    width: 100%;
}

.main-name {
    font-size: 20px;
}
