
* {
    margin: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

button:hover {
    cursor: pointer;
}

#index-page {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}

/* 用于抵消 footer 的高度 */
#index-page:after {
    content: '';
    display: block;
    height: 100px; /* Set same as footer's height */
}

/*---------------- nav-start ------------------*/

#header-nav {
    height: 60px;
    width: 100%;
    background-color: #9caebf;
}

.nav-side, .nav-middle {
    height: 100%;
    display: inline-block;
    float: left;
}

@media (min-width: 930px) {
    .nav-side {
        width: 15%;
    }

    .nav-middle {
        width: 85%;
    }
}

@media (max-width: 930px) {
    .nav-middle {
        width: 100%;
    }
}

.nav-button-left, .nav-button-right {
    height: 100%;
    float: left;
}

.nav-button-left {
    width: 60%;
}

.nav-button-right {
    width: 40%;
}

.nav-form, .nav-button {
    border: none;
    background-color: #9caebf;
    color: white;
    height: 100%;
    float: left;
    font-size: 14px;
}

.nav-button-size-small {
    width: 65px;
}

.nav-button-big {
    font-size: 25px;
    width: 100px;
}

.log-img {
    float: left;
    height: 55px;
    width: 50px;
}

.nav-button-big-words {
    height: 50px;
}

.nav-form-div {
    height: 100%;
    display: flex;
}

.nav-form {
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.form-search {
    height: 35px;
    border: none;
    border-radius: 4px 4px 4px 4px;
    text-indent: 5px;
}

/*------------------ nav-end -------------------*/

/*------------------ banner-start ---------------------*/

#header-banner {
    background-color: #9caebf;
    display: flex;
    height: 200px;
    width: 100%;
}

.banner-p {
    color: white;
    text-align: center;
    margin: auto;
    font-size: 25px;
}

/*------------------ banner-end ------------------*/

/*--------------------- content-start ------------*/

#content {
    background-color: #f9f9fb;
    width: 100%;
}

.article-container {
    display: flex;
    flex-direction: column;
}

.for-article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.for-article {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.article-img {
    width: 270px;
    height: 160px;
}

.article-text {
    padding-left: 10px;
}

.article-title {
    font-size: 25px;
    color: #34495e;
    border: none;
    background-color: #f9f9fb;
    margin-bottom: 10px;
}

.article-brief {
    color: #7f8c8d;
    font-size: 20px;
    padding-left: 5px;
    margin-bottom: 30px;
}

.article-border-line {
    clear: both;
    border: 0;
}

.article-tag {
}

.for-article-tag {
    float: left;
    border: none;
    height: 25px;
    width: 70px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 10px;
    color: #7f8c8f;
}

.article-info {

}

.for-article-info {
    padding-left: 2px;
    padding-right: 2px;
    float: left;
    height: 25px;
    width: 50px;
    color: #7f8c8f;
    text-align: center;
    font-size: 12px;
}

.article-detail-button {
    border: none;
    background-color: #f9f9fb;
    color: darkgreen;
    float: right;
}

.article-bottom-line {
    width: 50%;
}

#page-transform {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.button-transform-left, .button-transform-right, .button-transform-middle {
    background-color: #e4e7ea;
    font-size: 20px;
    color: #7f8c8f;
}

.button-transform-left, .button-transform-right {
    width: 45px;
    height: 45px;
}

.button-transform-left {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px white;
    margin-right: 1px;
    border-radius: 10px 0 0 10px;
}

.button-transform-right {
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 1px white;
    margin-left: 1px;
    border-radius: 0 10px 10px 0;
}

.button-transform-middle {
    width: 35px;
    height: 45px;
    border: none;
}

/*--------------------- content-end ---------------*/

/*------------------ footer-start -----------------*/

#footer {
    display: flex;
    background-color: #9caebf;
    align-items: center;
    justify-content: center;

    clear: both;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}


/* 这个东西就先这样 */
.footer-button {
    border: none;
    width: 32px;
    height: 32px;
    color: #7f8c8f;
    border-radius: 5px;
    margin-left: 5px;
}

.footer-button-img {
    background-image: url("img/github-icon.png");
}

/*------------------ footer-end -----------------*/
