/target
.idea
blog.iml
/backend/target
/frontend/target
/frontend/dist

/frontend/node_modules/*

!/frontend/node_modules/showdown
/frontend/node_modules/showdown/*
!/frontend/node_modules/showdown/dist

!/frontend/node_modules/simplemde
/frontend/node_modules/simplemde/*
!/frontend/node_modules/simplemde/dist


